<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coach</title>
</head>
<body>
<div th:insert="~{main-header}">header</div>
Имя:
<span th:text="${coach.firstName}"> Имя</span> <br>
Фамилия:
<span th:text="${coach.lastName}"> Фамилия</span> <br>
Родился в:
<span th:text="${coach.birthDate}"> Дата рождения</span> <br>
Гражданство:
<span th:text="${coach.countryName}"> Страна</span> <br>

<span>Новости:</span><br>

<div th:each="news: ${allNews}">
    <a href="news.html" th:href="@{/news(id=${news.id})}"
       th:text="${news.title} + ${news.dateAndTime}">Title</a>
</div>
</body>
</html>